# This a database lab of the project e-pinga.

### Importing libs in Python to use throughout the notebook

In [44]:
import redis
import pickle
import mariadb
import sys
import random
from faker import Faker

### Connecting to the relational database MariaDB using Python and the lib mariadb.

In [45]:
# Conectando ao MariaDB
try:
    db = mariadb.connect(
        host="127.0.0.1",
        user="epinga_db_user",
        password="epinga_db_user_password",
        database="epinga_db",
        port=3306
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cursor = db.cursor()

### Populating the MariaDB relational database with data using Faker.

In [46]:
#Inicializando o Faker
faker = Faker()

# #Inserindo dados fake
for _ in range(100):  
    document = _
    first_name = faker.first_name()
    last_name = faker.last_name()   
    email = faker.email()
    password_hash = faker.md5(raw_output=False)
    register_date = faker.date_time()

    cursor.execute('''
        INSERT INTO user (document, first_name, last_name, email, password_hash, register_date)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (_, first_name, last_name, email, password_hash, register_date))

for _ in range(5):
    name = random.choices(["pinga", "whisky", "cerveja", "champagne", "vinho"], weights = [1, 1, 1, 1, 1], k = 1)[0]
    category = random.choices(["categoria1", "categoria2", "categoria3"], weights = [1, 1, 1], k = 1)[0]
    description = random.choices(["lorem ipsum ipsum", "lorem ipsaaam ipsaam", "lorem ipsaaam ipsaam lorem lorem"], weights = [10, 1, 1], k = 1)[0]
    stock = random.choices([1, 3, 5, 7, 9, 13], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]
    price = random.choices([20.99, 3.99, 5.44, 7.99, 9.99, 13.00], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]

    cursor.execute('''
        INSERT INTO product (name, category, description, stock, price)
        VALUES (%s, %s, %s, %s, %s)
    ''', (name, category, description, stock, price))

for _ in range(4):
    status_name = random.choices(["aberto", "faturado", "despachado", "em_separacao"], weights = [1, 1, 1, 1], k = 1)[0]
    cursor.execute('''
        INSERT INTO order_status (status_name) VALUES (%s)
    ''', (status_name,))

for _ in range(3):
    payment_name = random.choices(["cartao de credito", "boleto", "pix"], weights=[1, 1, 1], k=1)[0]
    cursor.execute('''
        INSERT INTO payment (payment_name) VALUES (%s)
    ''', (payment_name,))

for _ in range(10):
    id_payment = random.choices([1, 2, 3], weights = [1, 1, 1], k = 1)[0]
    user_document = random.choices([3, 20, 55], weights = [1, 1, 1], k = 1)[0]
    order_date = faker.date_time()
    payment_date = faker.date_time()
    destination_address = random.choices(["Avenue first", "Avenue second", "Avenue third"], weights = [10, 1, 1], k = 1)[0]
    id_order_status = random.choices([1, 2, 3, 4], weights = [1, 1, 1, 1], k = 1)[0]

    cursor.execute('''
        INSERT INTO orders (id_payment, user_document, order_date, payment_date, destination_address, id_order_status)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (id_payment, user_document, order_date, payment_date, destination_address, id_order_status))

for _ in range(15):
    id_order = random.choices([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], weights = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], k = 1)[0]
    id_product = random.choices([1, 2, 3, 4, 5], weights = [1, 1, 1, 1, 1], k = 1)[0]
    quantity = random.choices([1, 2, 3, 4, 5], weights = [1, 1, 1, 1, 1], k = 1)[0]
    unit_price = random.choices([20.99, 3.99, 5.44, 7.99, 9.99, 13.00], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]
    order_total = quantity * unit_price
    discount = 0

    cursor.execute('''
        INSERT INTO orders_itens (id_order, id_product, quantity, unit_price, order_total, discount)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (id_order, id_product, quantity, unit_price, order_total, discount))
    
#Commit the transaction
db.commit()

### Searching for users in users table and result limited in 10

In [47]:
query = "SELECT document, first_name, last_name, register_date FROM user LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(0, 'Lisa', 'Rivers', datetime.date(2016, 8, 29))
(1, 'Jonathan', 'Savage', datetime.date(1983, 11, 21))
(2, 'Kevin', 'Morales', datetime.date(1971, 8, 27))
(3, 'Hailey', 'Powell', datetime.date(2007, 11, 26))
(4, 'Kimberly', 'Jackson', datetime.date(1989, 4, 1))
(5, 'Michaela', 'Martinez', datetime.date(2015, 7, 17))
(6, 'Jimmy', 'Carrillo', datetime.date(2018, 9, 8))
(7, 'Carlos', 'Harrison', datetime.date(1980, 7, 29))
(8, 'Elizabeth', 'Graham', datetime.date(1975, 4, 30))
(9, 'Jeffrey', 'Ware', datetime.date(1986, 9, 28))

### Searching for products in product table and result limited in 10

In [48]:
query = "SELECT name, category, description, stock, price FROM product LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

('whisky', 'categoria1', 'lorem ipsum ipsum', 5, 13.0)
('cerveja', 'categoria2', 'lorem ipsum ipsum', 13, 13.0)
('champagne', 'categoria2', 'lorem ipsum ipsum', 5, 7.99)
('champagne', 'categoria2', 'lorem ipsum ipsum', 9, 5.44)
('cerveja', 'categoria3', 'lorem ipsaaam ipsaam', 1, 5.44)

### Searching for orders in orders table and result limited in 10

In [50]:
query = "SELECT id_payment, user_document, order_date, payment_date, destination_address, id_order_status FROM orders LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(2, 3, datetime.datetime(2001, 4, 29, 6, 2, 19), datetime.datetime(2016, 8, 16, 16, 43, 48), 'Avenue first', 2)
(2, 20, datetime.datetime(1999, 6, 18, 10, 36, 15), datetime.datetime(2005, 10, 9, 8, 28, 46), 'Avenue first', 1)
(1, 20, datetime.datetime(1986, 12, 16, 10, 9, 56), datetime.datetime(1990, 1, 21, 16, 51, 26), 'Avenue second', 1)
(3, 3, datetime.datetime(1976, 8, 23, 1, 16, 59), datetime.datetime(2019, 3, 8, 11, 15, 26), 'Avenue first', 1)
(2, 20, datetime.datetime(2003, 11, 4, 0, 36, 16), datetime.datetime(2019, 4, 18, 19, 49, 36), 'Avenue second', 1)
(2, 20, datetime.datetime(2014, 7, 29, 14, 46, 44), datetime.datetime(2004, 5, 13, 4, 8), 'Avenue first', 4)
(1, 3, datetime.datetime(2009, 3, 18, 3, 46, 19), datetime.datetime(1978, 12, 6, 4, 2, 22), 'Avenue first', 2)
(3, 3, datetime.datetime(1986, 12, 7, 7, 20, 58), datetime.datetime(2005, 7, 24, 17, 7, 24), 'Avenue first', 4)
(2, 55, datetime.datetime(1998, 10, 21, 22, 54, 45), datetime.datetime(2015, 1, 20, 13, 50, 16), 'Avenue third', 2)
(2, 3, datetime.datetime(2000, 3, 2, 21, 29, 31), datetime.datetime(1975, 4, 3, 23, 17, 11), 'Avenue third', 4)

### Searching for order_itens in order_itens table and result limited in 10

In [52]:
query = "SELECT id_order, id_product, quantity, unit_price, order_total, discount FROM orders_itens LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(9, 1, 1, 7.99, 7.99, 0.0)
(7, 1, 1, 13.0, 13.0, 0.0)
(2, 1, 1, 9.99, 9.99, 0.0)
(5, 1, 1, 3.99, 3.99, 0.0)
(10, 1, 3, 13.0, 39.0, 0.0)
(6, 5, 2, 7.99, 15.98, 0.0)
(5, 2, 1, 5.44, 5.44, 0.0)
(1, 4, 1, 9.99, 9.99, 0.0)
(1, 4, 5, 5.44, 27.2, 0.0)
(9, 3, 4, 7.99, 31.96, 0.0)

### Connecting to the key-value Redis using Python and the lib redis.

In [53]:
# Connect to Redis
cache = redis.Redis(host='127.0.0.1', port=6379, db=0)

### Example of use a redis for caching a data to return fast an information and protect a relational database for excessive load

In [54]:
def get_data(query):
    cursor = db.cursor()

    # Check if data is in cache
    cached_data = cache.get(query)
    if cached_data:
        return pickle.loads(cached_data)

    # If not in cache, fetch from database
    cursor.execute(query)
    result = cursor.fetchall()

    # Store result in cache and set ttl with 1 hour
    cache.set(query, pickle.dumps(result), ex=3600)

    cursor.close()
    return result

# Example usage
query = "SELECT * FROM user WHERE document = 71"

#First call returns data from mariaDB
data = get_data(query)
print(data)

#Second call returns data from redis
data = get_data(query)

#Set the cache of our key with 1 second to expire fast
cache.expire(query, 1)

[(71, 'Christopher', 'Chen', 'martinjulie@example.org', '2f259bbeed0489afa25f011ec52173a5', datetime.date(1998, 5, 2))]

True