# This a database lab of the project e-pinga.

### Importing libs in Python to use throughout the notebook

In [17]:
import redis
import mariadb
import sys
import random
from faker import Faker

### Connecting to the relational database MariaDB using Python and the lib mariadb.

In [18]:
# Conectando ao MariaDB
try:
    db = mariadb.connect(
        host="127.0.0.1",
        user="epinga_db_user",
        password="epinga_db_password",
        database="epinga_db",
        port=3306
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cursor = db.cursor()

### Populating the MariaDB relational database with data using Faker.

In [19]:
#Inicializando o Faker
faker = Faker()

# #Inserindo dados fake
for _ in range(100):  
    document = _
    first_name = faker.first_name()
    last_name = faker.last_name()   
    email = faker.email()
    password_hash = faker.md5(raw_output=False)
    register_date = faker.date_time()

    cursor.execute('''
        INSERT INTO user (document, first_name, last_name, email, password_hash, register_date)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (document, first_name, last_name, email, password_hash, register_date))

for _ in range(5):
    name = random.choices(["pinga", "whisky", "cerveja", "champagne", "vinho"], weights = [1, 1, 1, 1, 1], k = 1)[0]
    category = random.choices(["categoria1", "categoria2", "categoria3"], weights = [1, 1, 1], k = 1)[0]
    description = random.choices(["lorem ipsum ipsum", "lorem ipsaaam ipsaam", "lorem ipsaaam ipsaam lorem lorem"], weights = [10, 1, 1], k = 1)[0]
    stock = random.choices([1, 3, 5, 7, 9, 13], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]
    price = random.choices([20.99, 3.99, 5.44, 7.99, 9.99, 13.00], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]

    cursor.execute('''
        INSERT INTO product (name, category, description, stock, price)
        VALUES (%s, %s, %s, %s, %s)
    ''', (name, category, description, stock, price))

for _ in range(4):
    status_name = random.choices(["aberto", "faturado", "despachado", "em_separacao"], weights = [1, 1, 1, 1], k = 1)[0]
    cursor.execute('''
        INSERT INTO order_status (status_name) VALUES (%s)
    ''', (status_name,))

for _ in range(3):
    payment_name = random.choices(["cartao de credito", "boleto", "pix"], weights=[1, 1, 1], k=1)[0]
    cursor.execute('''
        INSERT INTO payment (payment_name) VALUES (%s)
    ''', (payment_name,))

for _ in range(10):
    id_payment = random.choices([1, 2, 3], weights = [1, 1, 1], k = 1)[0]
    user_document = random.choices([71, 227, 259], weights = [1, 1, 1], k = 1)[0]
    order_date = faker.date_time()
    payment_date = faker.date_time()
    destination_address = random.choices(["Avenue first", "Avenue second", "Avenue third"], weights = [10, 1, 1], k = 1)[0]
    id_order_status = random.choices([1, 2, 3, 4], weights = [1, 1, 1, 1], k = 1)[0]

    cursor.execute('''
        INSERT INTO orders (id_payment, user_document, order_date, payment_date, destination_address, id_order_status)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (id_payment, user_document, order_date, payment_date, destination_address, id_order_status))

for _ in range(15):
    id_order = random.choices([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], weights = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], k = 1)[0]
    id_product = random.choices([1, 2, 3, 4, 5], weights = [1, 1, 1, 1, 1], k = 1)[0]
    quantity = random.choices([1, 2, 3, 4, 5], weights = [1, 1, 1, 1, 1], k = 1)[0]
    unit_price = random.choices([20.99, 3.99, 5.44, 7.99, 9.99, 13.00], weights = [1, 1, 1, 1, 1, 1], k = 1)[0]
    order_total = quantity * unit_price
    discount = 0

    cursor.execute('''
        INSERT INTO order_itens (id_order, id_product, quantity, unit_price, order_total, discount)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', (id_order, id_product, quantity, unit_price, order_total, discount))
    
#Commit the transaction
db.commit()

IntegrityError: Duplicate entry '71' for key 'PRIMARY'

### Searching for users in users table and result limited in 10

In [22]:
query = "SELECT document, first_name, last_name, register_date FROM user LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(71, 'Michelle', 'Burke', datetime.date(1997, 9, 5))
(227, 'Courtney', 'Lucero', datetime.date(1994, 9, 17))
(246, 'Daisy', 'Stevenson', datetime.date(2012, 3, 10))
(250, 'David', 'Clark', datetime.date(1997, 2, 15))
(259, 'Shawn', 'Hooper', datetime.date(1993, 10, 2))
(293, 'James', 'Harris', datetime.date(2021, 5, 5))
(298, 'Benjamin', 'Doyle', datetime.date(1996, 8, 25))
(307, 'Sharon', 'Taylor', datetime.date(1981, 12, 16))
(352, 'Amanda', 'Wood', datetime.date(1980, 7, 21))
(382, 'John', 'Carter', datetime.date(2004, 9, 4))

### Searching for products in product table and result limited in 10

In [8]:
query = "SELECT name, category, description, stock, price FROM product LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

('cerveja', 'categoria2', 'lorem ipsum ipsum', 3, 20.99)
('whisky', 'categoria2', 'lorem ipsum ipsum', 13, 5.44)
('whisky', 'categoria3', 'lorem ipsum ipsum', 9, 20.99)
('cerveja', 'categoria3', 'lorem ipsum ipsum', 5, 7.99)
('cerveja', 'categoria1', 'lorem ipsum ipsum', 5, 3.99)

### Searching for orders in orders table and result limited in 10

In [16]:
query = "SELECT id_payment, user_document, order_date, payment_date, destionation_address, id_order_status FROM orders LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(2, 71, datetime.datetime(1989, 3, 28, 21, 46, 43), datetime.datetime(1979, 2, 15, 21, 5, 55), 'Avenue first', 1)
(3, 227, datetime.datetime(2020, 6, 8, 3, 2, 5), datetime.datetime(1995, 12, 16, 10, 35, 51), 'Avenue first', 4)
(3, 227, datetime.datetime(2007, 8, 29, 22, 7, 50), datetime.datetime(2013, 11, 30, 18, 4, 41), 'Avenue first', 2)
(3, 71, datetime.datetime(1991, 1, 26, 22, 49, 20), datetime.datetime(1982, 3, 26, 19, 56, 38), 'Avenue first', 3)
(1, 227, datetime.datetime(1987, 10, 25, 5, 8, 1), datetime.datetime(1990, 6, 9, 18, 34, 14), 'Avenue first', 4)
(3, 259, datetime.datetime(1976, 9, 16, 22, 8, 23), datetime.datetime(2017, 7, 14, 9, 56, 58), 'Avenue first', 3)
(2, 259, datetime.datetime(2005, 12, 6, 4, 22, 33), datetime.datetime(1974, 4, 23, 7, 28, 38), 'Avenue first', 2)
(3, 227, datetime.datetime(1974, 8, 2, 8, 17, 34), datetime.datetime(2005, 1, 1, 18, 32, 14), 'Avenue first', 2)
(1, 259, datetime.datetime(2009, 4, 30, 19, 20, 3), datetime.datetime(2012, 4, 6, 15, 20, 54), 'Avenue first', 3)
(3, 259, datetime.datetime(2004, 3, 24, 14, 17, 37), datetime.datetime(1989, 11, 25, 8, 33, 59), 'Avenue first', 2)

### Searching for order_itens in order_itens table and result limited in 10

In [13]:
query = "SELECT id_order, id_product, quantity, unit_price, order_total, discount FROM order_itens LIMIT 10"
cursor.execute(query)
result = cursor.fetchall()

for row in result:
    print(row)

(4, 5, 5, 7.99, 39.95, 0.0)
(2, 4, 2, 13.0, 26.0, 0.0)
(4, 3, 4, 3.99, 15.96, 0.0)
(3, 3, 4, 5.44, 21.76, 0.0)
(8, 2, 2, 5.44, 10.88, 0.0)
(2, 1, 1, 13.0, 13.0, 0.0)
(3, 1, 4, 7.99, 31.96, 0.0)
(5, 1, 3, 3.99, 11.97, 0.0)
(9, 2, 5, 5.44, 27.2, 0.0)
(10, 4, 3, 9.99, 29.97, 0.0)